:root {
    --primary: #e7e7e7;
    --navbar: #d4d4d4;
    --secondary: #303030;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
}

@font-face {
    font-family: ProFont;
    src: url("./assets/fonts/ProFontWindows.ttf");
}

* {
    margin: 0;
    font-family: "ProFont";
    color: var(--secondary);
    user-select: none;
    -webkit-user-drag: none;
}

a {
    text-decoration: none;
}

#app {
    display: flex;
    flex-direction: column;
}

body {
    background-image: url('/assets/background.png');
    background-attachment: fixed;
    transition: ease-in, 400ms;
    background-color: var(--primary);
}

#banner {
    display: flex;
    flex-direction: column;
    transition: ease-in, 400ms;
}

#typing-effect-container {
    margin-top: 20vh;
    margin-left: 10px;
    height: auto;
    margin-right: auto;
}

#typing-effect-container>h1 {
    font-size: 3rem;
}

#typing-effect-container>h3 {
    font-size: 1.8rem;
}

#typing-effect-container>h3:last-child {
    font-size: 1.8rem;
    margin-top: 40px;
    margin-bottom: 40px;
}


#navbar-mobile {
    display: flex;
    position: fixed;
    top: 0;
}

#lights-mobile {
    position: absolute;
    top: 80px;
    right: 10px;
}

#sandbox-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.sandbox-title {
    font-size: 2rem;
    text-align: center;
}

#navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

@media(max-width: 1024px) {
    #social-media {
        display: flex;
        position: relative;
        padding: 10px;
        transition: ease-in, 400ms;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 1024px) {
    #navbar {
        display: flex;
    }
    #typing-effect-container {
        margin-top: 5vh;
        margin-left: 200px;
        height: auto;
        margin-right: auto;
    }
    #typing-effect-container>h1 {
        font-size: 8rem;
    }
    #typing-effect-container>h3 {
        font-size: 4rem;
    }
    #typing-effect-container>h3:last-child {
        font-size: 4rem;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #lights-mobile {
        display: none;
    }
    #navbar-mobile {
        display: none;
    }
    #social-media {
        display: flex;
        padding: 10px;
        position: fixed;
        top: 0;
        right: 0;
        transition: ease-in, 400ms;
    }
    #sandbox-container {
        margin-top: 50px;
        margin-left: 200px;
    }
    .sandbox-title {
        font-size: 4rem;
        text-align: center;
    }
}