:root {
    --primary: #e7e7e7;
    --navbar: #dadada;
    --secondary: #303030;
    --roboto: 'Roboto'
}

* {
    margin: 0;
    font-family: var(--roboto);
    color: var(--secondary);
}

body {
    background-image: url('/assets/background.png');
    background-attachment: fixed;
    transition: ease-in, 400ms;
    background-color: var(--primary);
}

#banner {
    display: flex;
    flex-direction: column;
}

#social-media {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

#typing-effect-container {
    margin-top: 20vh;
    margin-left: auto;
    height: 150px;
    margin-right: auto;
}

#typing-effect-container>h1 {
    font-size: 3rem;
}

#typing-effect-container>h3 {
    font-size: 1.8rem;
}

#navbar-mobile {
    display: flex;
    position: fixed;
    top: 0;
}

#lights-mobile {
    position: absolute;
    top: 80px;
    right: 10px;
}

#navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

@media(min-width: 1024px) {
    #navbar {
        display: flex;
    }
    #typing-effect-container {
        margin-top: 5vh;
        margin-left: 200px;
        height: 300px;
        margin-right: auto;
    }
    #typing-effect-container>h1 {
        font-size: 8rem;
    }
    #typing-effect-container>h3 {
        font-size: 4rem;
    }
    #lights-mobile {
        display: none;
    }
    #navbar-mobile {
        display: none;
    }
}