#navbar {
    background-color: #272727;
    transition: linear, 150ms;
    width: 100px;
    height: 100vh;
    flex-direction: column;
}

#navbar:hover {
    width: 250px;
}

#navbar:hover #profile-image {
    width: 223px;
}

#navbar:hover .navbar-text{
    display: flex;
}

.navbar-item:hover .navbar-text {
    color: #303030;
}

.navbar-item:hover .svg-color {
    fill: #303030;
}

#lights {
    margin-left: 20px;
    transition: linear, 100ms;
}

#navbar-item-container{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
}

#profile-image {
    position: absolute;
    top: 10px;
    width: 75px;
    border-width: 2px;
    transition: linear, 150ms;
    margin-left: 10px;
    border-radius: 100%;
    border-style: solid;
    border-color: #e7e7e7;
}

#profile-image:hover {
    opacity: 50%;
}

.navbar-item {
    display: flex;
    cursor: pointer;
    width: 100%;
    transition: ease-in, 400ms;
    height: 100px;
}

.navbar-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

#navbar-lights {
    display: flex;
    margin-bottom: 10px;
    height: auto;
}

.navbar-text {
    display: none;
    margin-top: auto;
    margin-left: 30px;
    color: #e7e7e7;
    margin-bottom: auto;
}

.navbar-item:hover {
    color: #303030;
    background-color: #e7e7e7;
}
