.card-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    opacity: 0%;
    position: relative;
    top: -50px;
    background-color: var(--secondary);
    transition: ease-in, 400ms;
}

.href-margin {
    margin-right: 50px;
    margin-bottom: 50px;
}

.card-container:hover {
    transform: translateY(10px);
}

#card-area {
    display: flex;
    transition: ease-in, 400ms;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 5vw;
}

.redirect-icon {
    margin-left: auto;
    margin-right: 14px;
}

.window-label {
    display: flex;
    transition: ease-in, 400ms;
    height: 25px;
    background-color: var(--navbar);
}

.feature-list {
    display: flex;
    margin-top: auto;
    margin-left: 10px;
    margin-bottom: 8px;
}

.feature-list>svg {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.window-text-container {
    display: flex;
}

.window-text {
    color: var(--primary);
    padding: 10px;
    font-size: 1.2rem;
}

.label-text {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--secondary);
}

.label-text-icon {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

.window-btn-container {
    display: flex;
    margin-left: auto;
}

.window-btn {
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: auto;
    color: var(--secondary);
}

@media(max-width: 1024px) {
    #card-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
    }
    .card-container {
        width: 400px;
        height: 300px;
        opacity: 0;
        position: relative;
        top: -50px;
        background-color: var(--secondary);
        margin-right: 0px;
    }
}

@media(max-width: 850px) {
    #card-area {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: auto;
        margin-right: auto;
    }
    .card-container {
        width: 400px;
        height: 300px;
        opacity: 0;
        position: relative;
        top: -50px;
        background-color: var(--secondary);
    }
    .href-margin {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
}

@media(max-width: 460px) {
    .card-container {
        width: 90vw;
        height: 300px;
        opacity: 0;
        position: relative;
        top: -50px;
        background-color: var(--secondary);
        margin-right: auto;
        margin-left: auto;
    }
}