.color-container {
    position: fixed;
    display: flex;
    top: 0;
    right: 10%;
}

.color-option {
    transition: linear 200ms;
    width: 40px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
    height: 15px;
}

.color-option:hover {
    width: 40px;
    height: 25px;
}

.color1 {
    background-color: #e7e7e7;
}

.color2 {
    background-color: #d3daaf;
}

.color3 {
    background-color: white;
}

.color4 {
    background-color: green;
}